nav.navbar.navbar-expand-xl.navbar-dark.bg-dark.sticky-top
    .container-fluid 
        a.navbar-brand(href='/') 
            img.img-fluid(src=client.user.displayAvatarURL({ dynamic: true, format: "png", size: 32 }))
            | #{client.user.username}
        #navbar.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.dropdown.position-relative.top-10
                    a.nav-link(type="button", id="navbarCommands", href='/commands') #[i.fas.fa-code] Commands
                li.nav-item.dropdown.position-relative.top-10
                    a.nav-link(type="button", id="navbarStats", href="/stats") #[i.far.fa-chart-bar] Stats
                li.nav-item.dropdown.position-relative.top-10
                    a.nav-link(type="button", id="navbarSupport", href="/supportserver", target="_blank") #[i.fab.fa-discord] Join Support Server
                li.nav-item.dropdown.position-relative.top-10
                    a.nav-link(type="button", id="navbarPremium", href="/premium") #[i.fas.fa-gem] Premium
                if user
                    li.nav-item.dropdown.position-fixed.top-0.end-0
                        a#navbarDarkDropdownMenuLink.nav-link.dropdown-toggle.position-fixed.top-0.end-0(role='button', data-bs-toggle='dropdown', aria-expanded='false')
                            | #[img.user-avatar.round(src=user.avatarUrl(32))] #{user.username}
                        ul.dropdown-menu.dropdown-menu-dark.position-relative.top-0.end-0(aria-labelledby='navbarDarkDropdownMenuLink')
                            li 
                                a.dropdown-item(type="button") #[img.user-avatar.round(src=user.avatarUrl(32))] #{user.username}
                            li
                                a.dropdown-item(type="button", href='/dashboard') #[i.fas.fa-cogs.text-muted] Visit Dashboard 
                            li
                                a.dropdown-item(type="button", href='/logout') #[i.fas.fa-user-slash.text-muted] Logout
                else
                    li.nav-item.dropdown.position-fixed.top-10.end-0
                        a.nav-link(type="button", id="navbarLogin", href='/login') #[i.fas.fa-sign-in-alt] Login with Discord