footer.page-footer.bg-transparent
    .footer-copyright.text-center.py-3 
        if new Date(client.user.createdTimestamp).getUTCFullYear() == new Date().getUTCFullYear()
            img.img-fluid(src=client.user.displayAvatarURL({ dynamic: true, format: "png", size: 64 }))
            p &copy; #{new Date().getUTCFullYear()} #{client.user.username}. All rights reserved.
        else
            img.img-fluid(src=client.user.displayAvatarURL({ dynamic: true, format: "png", size: 64 }))
            p &copy; #{new Date().getUTCFullYear() + " - " + new Date(client.user.createdTimestamp).getUTCFullYear()} #{client.user.username}. All rights reserved.
