#sidebar.float-left
    a(href='/dashboard', class="sidebarElement")
        .icon.round.shadow
            img.round(src=user.avatarUrl(), id="home")
    hr
    each guild in guilds
        a(href='/servers/' + guild.id, class="sidebarElement")
            .icon.round.shadow.my-2(data-toggle='tooltip', data-placement='right', title=guild.name)
                if (guild.iconHash)
                    img.round(alt=guild.name, src=guild.iconUrl())
                else 
                    p.text-center.abbr #{guild.name.replace(/'s /g, ' ').replace(/\w+/g, e => e[0]).replace(/\s/g, '')}
    a(href='/invite', target="_blank", class="sidebarElement")
        .icon
            p.abbr.text-success.text-center(id="invite")
                i.fas.fa-plus